/* intro*/

.intro {
  position: relative;
  margin-top: 83px;
  @include media-size(lg) {
    margin-top: 108px;
  }
  &-swiper {
   .swiper-slide {
    height: 450px;
    @include media-size(md){
      height: 670px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   }
  }
  &-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  a {
    width: 100%;
    max-width: 270px;
    padding: 19px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 16px;
    color:$white;
    background-color: $accent;
    transition: $tr_md;
    @extend %link;
    @include flex(center, center);
    @include media-size(md) {
      margin-left: 0;
      font-size: 18px;
    }
    @include media-size(lg) {
      &:hover {
      @include hover($white, $accent);
      }
    };
  }

  }
  &-title {
    margin-top: 70px;
    @include media-size(md){
      margin-top: 120px;
    }
    @include media-size(lg){
      margin-top: 170px;
    }
  }
  &-controls {
    z-index: 1;
    position: absolute;
    left: 50%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    transform: translateX(-50%);
    bottom: 40px;
    @include media-size(lg) {
      bottom: 113px;
    }


    .swiper-pagination {
      position: relative;
      bottom: 0;
      @include media-size(lg){
        bottom: 0;
        max-width: 270px;
        text-align: left;

      }
      .swiper-pagination-bullet {
        opacity: 1;
        width: 10px;
        height: 10px;
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,15px);
        background: rgba(255,255,255, 0.4);
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        @include media-size(lg) {
          margin: 0 var(--swiper-pagination-bullet-horizontal-gap,20px);
        }
      }
      .swiper-pagination-bullet-active {
      background: rgba(255,255,255, 1);

      }
    }
    .swiper-buttons {
      position: relative;
      display: none;
      width: max-content;
      margin-left: auto;
      @include media-size(lg) {
        display: flex;
      }

      .swiper-button {
        position: relative;
        left: 0;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: rgba(255,255,255, 0.4);
        border: none;
        transition: background-color $tr_md;
        &::after {
          content: none;
        }
        .icon {
          width: 8px;
          height: 15px;
        }
        &:hover {
          background-color: rgba(255,255,255, 0.2);
        }
      }
      .swiper-button-next {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

/* contact_us */

.contact_us {
  position: relative;
  margin-top: 3px;
  background: url(../img/form-bg.png) no-repeat 50%/cover;

  &-wrapper {
    padding-block: 40px 50px;
    display: grid;
    grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    @include media-size(md) {
      padding-block: 80px 100px;
    }
    @include media-size(lg) {
      padding-block: 122px 140px;
    }
  }

  &-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: $white;
    @include media-size(md) {
      align-items: flex-start;
    }
    p {
      max-width: 300px;
      margin-top: 20px;
      font-weight: 300;
      text-align: center;
      @include media-size(md) {
        margin-top: 40px;
      }
      @include media-size(lg) {
        max-width: 450px;
        margin-top: 60px;
        font-size: 18px;
      }
    }
  }
}
.contacts {
  display: flex;
  flex-flow: column;
  gap: 15px;
  margin-top: 25px;
  font-weight: 300;
  @include media-size(md) {
    margin-top: 40px;
  }
  @include media-size(lg) {
    flex-flow: row nowrap;
    gap: 0 40px;
    margin-top: 80px;
  }
  
  a {
    display: flex;
    align-items: center;
    font-size: 18px;
    @extend %link;
    transition: color $tr_md;
    &:hover {
    color: $accent;
    }
    @include media-size(xl) {
      font-size: 21px;
    }

    &:first-child {
      &::before {
        margin-right: 15px;
        content: url(../img/tel_white.svg);
      }
    }
    &:last-child {
      &::before {
        margin-right: 15px;
        content: url(../img/mail_white.svg);
      }
    }
  }



}
.contact_us-form {
  display: grid;
  grid-template: auto/1fr;
  gap: 20px;
  @include media-size(xl) {
    grid-template: auto/1fr 1fr;
    gap: 35px 30px;
  }


  &__label {
    color: $white;
    line-height: 1.4;
    @extend %label;
    @include media-size(xl) {
    &:last-of-type {
        grid-column: 1 / 3;
    }
    }
    input {
      @extend %input;
    }

    textarea {
      height: 130px;
      resize: none;
      @extend %input;
    }
  }

  &__btn {
    width: 270px;
    padding: 19px;
    margin: 0 auto;
    font-size: 16px;
    @extend %btn_default;
    @include media-size(md) {
      font-size: 18px;
    }
    @include media-size(lg) {
      &:hover {
        @include hover($white, $accent);
        }
  
    }
    @include media-size(xl) {
      grid-column: 2 / 3;
    }
  }

}



